.services-wrap {
    margin: 50px 0px;
}

.service-header {
    margin: 0 auto 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-header h2 {
    text-align: center;
    font-weight: 800;
    color: var(--heading-color);
    margin-bottom: 0;
}

.service-header hr {
    height: 3px;
    width: 80%;
    color: var(--hr-color);
}

.service-card-wrap {
    display: flex;
    margin: 0 -15px;
}

.service-card {
    width: 33.33%;
    padding: 15px;
    margin: 0px 15px;
    border: 1px solid var(--text-color);
}

.card-img {
    width: 40px;
    height: 40px;
    background-image: var(--card-icon-bg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.card-icon {
    height: 30px;
    width: 30px;
    color: var(--plum-violet);
}

.card-text h4 {
    color: var(--text-color);
    font-weight: 700;
    margin-bottom: 0;
}

.card-text p {
    margin: 5px 0px;
    color: var(--text-color);
}