.home-page-wrap {
    position: relative;
}

.hero-banner-wrap {
    margin: 0 -15px;
    margin-bottom: 100px;
    position: relative;
}

.hero-baner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 15px;
    color: var(--banner-text-color);
}

.hero-baner-text h1,
.hero-baner-text h3 {
    font-weight: 700;
    color: var(--banner-text-color)
}

.hero-baner-text span.highlight {
    color: var(--tomato-orange);
}

.hero-banner-image {
    padding: 0px 15px;
    height: 700px;
}

.hero-banner-image img {
    height: 100%;
    width: 100%;
}

/* Feature Tour Css*/

.tour-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tour-heading hr {
    height: 3px;
    width: 59%;
    color: var(--hr-color);
}

.feature-tour-wrap h2 {
    text-align: end;
    font-weight: 800;
    color: var(--heading-color);
    margin-bottom: 0;
}

.tour-data-wrap {
    display: flex;
    align-items: center;
    margin: 0 -15px;
}