.footer {
    background-color: var(--footer-bg);
    backdrop-filter: blur(10px);
    position: relative;
}

.footer h5 {
    font-size: 18px;
    color: var(--footer-heading);
}

.footer h6 {
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--footer-heading);
}

.footer p {
    margin: 0;
    font-size: 14px;
    color: var(--text-color);
}

.footer-wrap {
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
}

.footer-left {
    width: 33%;
    padding: 0 15px;
}

.footer-middle {
    width: 33%;
    padding: 0 15px;
}

.footer-right {
    width: 33%;
    padding: 0 15px;
}

.logo-wrap {
    margin-bottom: 10px;
}

.social-mdeia-wrap ul {
    display: flex;
    align-items: center;
    margin: 0;
}

.social-mdeia-wrap ul li {
    background-image: var(--footer-social-icon);
    border: 1px solid transparent;
    border-radius: 50%;
}

.social-mdeia-wrap ul li:not(:first-child) {
    margin-left: 10px;
}

.social-mdeia-wrap ul li a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

}

.footer-middle h5 {
    font-size: 18px;
}

.footer-middle ul li {
    color: var(--text-color);
    cursor: pointer;
}

.footer-middle ul li:not(:first-child) {
    margin-top: 10px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--header-logo);
}

.footer-right>div {
    margin: 10px 0px;
}